@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main {
    font-family: 'Open Sans', sans-serif;
    /*font-size: medium;*/
    background-color: rgb(211, 207, 207);
    color: rgb(104, 102, 102);
    
}

section {
    border-radius: 5px;
    width: 600px;
    display: flexbox;;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 15px;
    box-shadow: 5px 5px 5px rgb(119, 118, 118);
}

section.first_section {
    padding-bottom: 15px;
}

h1, h2,h4 {
    text-align: center;
}
div.tim_picture_block {
    padding-top: 20px;
}

img.tim_picture {
    border: 5px solid darkgrey;
    border-style: double;
    border-radius: 300px;
    display: block;
    margin: 0 auto;
}

h1.tim_name {
    color: rgb(221, 30, 5);
}

div.tim_description {
    padding: 30px;
}

a.link_boutton {
    display: block;
    margin:0 auto;
    background-color: rgb(221, 30, 5);
    color: whitesmoke;
    border-radius: 10px;
    width: 180px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
   
}
a {
    text-decoration: none;
}

a:hover {
    background-color: green;
}

div.hilight_hover:hover {
    background-color: yellow;
}

section.socialmedia {
    height: 100px;
    padding-bottom: 15px;
}

div.list_logo {
    width: 450px;
    margin: 0 auto;
}

ul {
    width: 350px;
    padding-top: 15px;
}

ul li {
    display: inline-block;
    padding: 25px;
    
}


div.ico_fb {
    margin-left: 25px;
}
a.icones {
    color: gray;
}

h2.favorite_movie {
    padding: 20px;
}

article {
    display: inline-flexbox;
    margin-left: 15px;
    margin-right: 10px;
}

img.img_movies {
    width: 80px;
    height: 120px;
}

div.img_movies {
   display: inline-block;
   padding: 15px;
   
}

div.text_movies {
    display: inline-block;
    width: 430px;
    text-align: justify;
}

.seeyourself a {
    color: white;
}

span.his_fav {
    background-color: rgb(201, 196, 196);
}

