@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main {
    font-family: 'Open Sans', sans-serif;
    /*font-size: medium;*/
    background-color: rgb(211, 207, 207);
    color: rgb(104, 102, 102);
    
}

section {
    border-radius: 5px;
    width: 600px;
    display: flexbox;;
    margin: 0 auto;
}

section.first_section {
    background-color: white;
    padding-bottom: 15px;
}

h1, h2,h4 {
    text-align: center;
}
div.tim_picture_block {
    padding-top: 20px;
}

img.tim_picture {
    border: 5px solid darkgrey;
    border-style: double;
    border-radius: 300px;
    display: block;
    margin: 0 auto;
}

h1.tim_name {
    color: rgb(221, 30, 5);
}

div.tim_description {
    padding: 30px;
}

a.link_boutton {
    display: block;
    margin:0 auto;
    background-color: rgb(221, 30, 5);
    color: whitesmoke;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
   
}

section.socialmedia {
    
    background-color: rgb(252, 247, 247);
}

ul li {
    display: inline-block;
}

a.icones {
    padding-left: 30px;
    color: gray;
}


section.section3 {
    background-color: rgb(252, 247, 247);
    padding-top: 10px;
}

h2.favorite_movie {
    margin-top: 15px;
}

article {
    display: inline-flexbox;
    margin-left: 15px;
    margin-right: 10px;
}

img.img_movies {
    width: 80px;
    height: 120px;
}

div.img_movies {
   display: inline-block;
   padding: 15px;
   
}

div.text_movies {
    display: inline-block;
    width: 430px;
    text-align: justify;
    
    
}

a {
    text-decoration: none;
}

.seeyourself a {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

span.his_fav {
    background-color: rgb(201, 196, 196);
}